*{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgb(232, 199, 204);
}
h1{
    background-color: rgb(58, 58, 76);
    color: rgb(184, 214, 214);
    height: 6rem;
    line-height: 6rem;  /*this will give alignment to the text vertically*/
}
.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    /*opacity: 0.5;  it will blur the image whenever we move our cursor to the image */
    cursor: pointer; /*it will give hand mouse when we hover over image*/
    background-color: rgb(58, 58, 76);
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;  /*image will be better and contracted*/
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 5rem;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
   font-size: 3rem;
   margin-top: 5rem;
   gap: 6rem;
}
#user-score,
#comp-score{
    font-size: 5rem;
}
.msg-container{
    
    margin-top: 3rem;
    
}
#msg{
    background-color:  rgb(58, 58, 76);;
    color: white;
    font-size: 2rem;
    padding: 1rem;
    display: inline;
    border-radius: 1rem;
}
.score{
    font-style: italic;

}
#useryou{
    font-weight: bold;
}
#computer{
    font-weight: bold;
}